{% extends "navbar.html" %}
{% block content %}
<link rel="stylesheet" href="../static/coronacarecss.css">
<style>
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


   <a href="\general_details_negative">
      <input class="btn btn-danger" type="button" value="General Details"/>
     </a>
</p>

<br><br>
<p>
    <a href="\medical_details">
      <input class="btn btn-danger" type="button" value="Medical Details"/>
     </a>
</p>

<br><br>
<p>
    <a href="\xray_upload">
      <input class="btn btn-danger" type="button" value="Xray Details"/>
     </a>
</p>

<br><br><br>
<p>
    <a href="\menu_for_forms_negative">
      <input class="btn btn-danger" type="button" value="Generate Report"/>
     </a>
</p>


{% endblock %}

