{% extends "navbar.html" %}
{% block content %}
<style>

.jumbotron {
    text-align: center;
    max-width: 700px;
    margin: auto;
}
p {
    text-align: center;
}

</style>


<head>
    <title>A.T.A.C</title>
</head>
<body>
<div class="jumbotron">
    <h3 class="display-5" style="text-align:center">Report</h3>
<!--    <h5>&ensp;&ensp;Unique code : </h5>-->
<!--    <h5>&ensp;&ensp;General Information :</h5>-->
    <br>
     <div class="row",align="left">
         <h5>&ensp;&ensp;&ensp;&ensp;Unique code : </h5>
     </div>
    <div class="row",align="left">
        <h5>&ensp;&ensp;&ensp;&ensp;General Information :</h5>

    </div>

    <div class="row",align="left">
        <div class="col-4",align="left">
            <p>Name : {{ gen_det[2] }}</p><br>
            <p>Age : {{ gen_det[3] }}</p><br>
            <p>Gender : {{ gen_det[4] }}</p><br>
        </div>
        <div class="col-6",align="left">
             <p>Phone Number : {{ gen_det[5] }} </p><br>
             <p>Address : {{ gen_det[6] }} </p><br>
             <p>Adhaar Number : {{ gen_det[7] }}</p><br>
        </div>
    </div>
    <br><br>
        <h5>Medical Information :</h5>
    <div class="row">
        <div class="col-4">
            <br>
                <p>Temperature : {{ med_det[1] }}</p><br>
                <p>Oximeter Reading : {{ med_det[2] }}</p><br>
                <p>FEV : {{ med_det[3] }}</p><br>
                <p>FVC : {{ med_det[4] }}</p><br>
            </div>
            <div class="col-6">
                <div>
                <br>
                <p>Chest X-Ray : </p><br>
                <img class="img-responsive center-block paddingImg" src = "../images/unique_code.jpeg"  alt = "xray" width="30" height="30">
                </div>
            </div>
        </div>

<br>
    <h5>Medical Condition Details : </h5><br>
    <h5>Precautions : </h5><br>
    <h5>Result : </h5><br>
</div>
{% endblock %}