{% extends "navbar.html" %}
{% block content %}
<link rel="stylesheet" href="../static/coronacarecss.css">
<style>

.jumbotron {
    text-align: center;
    max-width: 700px;
    margin: auto;
}
p {
    text-align: center;
}

</style>


<head>
    <title>A.T.A.C</title>
</head>
<body>
<div class="jumbotron">
    <h3 class="display-5" style="text-align:center">Report</h3>
<!--    <h5>&ensp;&ensp;Unique code : </h5>-->
<!--    <h5>&ensp;&ensp;General Information :</h5>-->
    <br>
     <div class="row",align="left">
         <h5>&ensp;&ensp;&ensp;&ensp;Unique code : </h5>
     </div>
    <div class="row",align="left">
        <h5>&ensp;&ensp;&ensp;&ensp;General Information :</h5>

    </div>

    <div class="row",align="left">
        <div class="col-4",align="left">
            <p>Name : {{ gen_det[2] }}</p><br>
            <p>Age : {{ gen_det[3] }}</p><br>
            <p>Gender : {{ gen_det[4] }}</p><br>
        </div>
        <div class="col-6",align="left">
             <p>Phone Number : {{ gen_det[5] }} </p><br>
             <p>Address : {{ gen_det[6] }} </p><br>
             <p>Adhaar Number : {{ gen_det[7] }}</p><br>
        </div>
    </div>
    <br><br>
        <h5>Medical Information :</h5>
    <div class="row">
        <div class="col-4">
            <br>
                <p>Temperature : {{ med_det[1] }}</p><br>
                <p>Oximeter Reading : {{ med_det[2] }}</p><br>
                <p>FEV : {{ med_det[3] }}</p><br>
                <p>FVC : {{ med_det[4] }}</p><br>
            </div>
            <div class="col-6">
                <div>
                <br>
                <p>Chest X-Ray : </p><br>
                <img class="img-responsive center-block paddingImg" src = "../images/unique_code.jpeg"  alt = "xray" width="30" height="30">
                </div>
            </div>
        </div>

<br>
    <h5>Medical Condition Details : </h5><br>
    <p align = left>
<!--        OOOOP-->
        {% if output_det[1] == 0 and output_det[2] == 0 and output_det[3] == 0 and output_det[4] == 0 and output_det[0][-1] == 'N' -%}
            Based on the results obtained from the above performed tests, your temperature is stable and perfect.<br>
		Your oximeter readings and spirometer reading are promisingly good.<br>
		The chest X-Ray shows that there are no fluids filled in the lungs area. <br>
		There is nothing to worry about.<br>
		Staying in home quarantine should be fine  : )
        {% endif %}
<!--0000N-->
        {% if output_det[1] == 0 and output_det[2] == 0 and output_det[3] == 0 and output_det[4] == 0 and output_det[0][-1] == 'P' -%}
            Based on the results obtained from the above performed tests, your temperature is stable and perfect.<br>
		Your oximeter readings and spirometer reading are promisingly good.<br>
		The chest X-Ray shows that there are no fluids filled in the lungs area. <br>
		You do not have any serious symptoms and therefore have a very mild case of the coronavirus. <br>
		There is nothing to worry about.<br>
		Staying in home quarantine should be fine  : )
        {% endif %}




<!--        {% if output_det[1] == 1 and output_det[2] == 0 -%}-->
<!--            although you body temperature seems high , your oximeter readings look fine . you might not be having a severe condition-->
<!--        {% endif %}-->
<!--        {% if output_det[1] == 0 and output_det[2] == 0 -%}-->
<!--            your body temperature and oximeter readings seem fine .-->
<!--        {% endif %}-->
<!--        {% if output_det[2] == 1 and output_det[3] == 1 -%}-->
<!--            your spirometer ratio readings also seem lower than usual .-->
<!--        {% endif %}-->
<!--        {% if output_det[2] == 0 and output_det[3] == 1 -%}-->
<!--            your spirometer readings seem lower than usual .-->
<!--        {% endif %}-->
<!--        {% if output_det[2] == 1 and output_det[3] == 0 -%}-->
<!--            your spirometer readings seem alright .-->
<!--        {% endif %}-->
<!--        {% if output_det[2] == 0 and output_det[3] == 0 -%}-->
<!--            your spirometer readings seem alright , no problems detected.-->
<!--        {% endif %}-->
<!--        {% if output_det[3] == 0 and output_det[4] == 0 -%}-->
<!--            your x ray readings are perfect . nothing to worry about-->
<!--        {% endif %}-->
<!--        {% if output_det[3] == 0 and output_det[4] == 1 -%}-->
<!--            your x ray results show a bit of a pneumonic condition , we suggest you to check in with a doctor  for further analysis.-->
<!--        {% endif %}-->
<!--        {% if output_det[3] == 1 and output_det[4] == 1 -%}-->
<!--            you seem to be having quite a severe case . your x ray reports show a high pneumonic condition in the lungs .we recommend you to admit yourself in a hospital in your locality as soon as possible .-->
<!--        {% endif %}-->
<!--        {% if output_det[3] == 1 and output_det[4] == 0 -%}-->
<!--            although your spirometer ratios were pretty low , your xray depicts that your Lungs are at a good condition . However you must take caution and take care .-->
<!--        {% endif %}-->









    </p>
    <h5>Precautions : </h5><br>
    <h5>Result : </h5><br>
</div>
{% endblock %}